   .rocket {
            position: absolute;
            width: 8vmin;
            height: 8vmin;
            border-radius: 50%;
            background-size: cover;
            bottom: -10vmin;
            left: 50%;
            animation: rocketAppear 0.5s ease-in-out forwards, rocketLaunch var(--rocket-launch-duration) ease-in-out forwards;
        }

        .rocket::before {
            content: '';
            position: absolute;
            width: 2vmin;
            height: 10vmin;
            background: linear-gradient(to bottom, rgba(255, 165, 0, 0.8), rgba(255, 69, 0, 0));
            bottom: -10vmin;
            left: 50%;
            transform: translateX(-50%);
            animation: fireTail 0.1s infinite, fireTailHide 0.8s ease-out forwards calc(var(--rocket-launch-duration) - 0.5s);
        }

        @keyframes rocketAppear {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fireTail {
            0% {
                background: linear-gradient(to bottom, rgba(255, 165, 0, 0.8), rgba(255, 69, 0, 0));
            }

            50% {
                background: linear-gradient(to bottom, rgba(255, 165, 0, 0.8), rgba(255, 69, 0, 0), rgba(255, 69, 0, 0));
            }

            100% {
                background: linear-gradient(to bottom, rgba(255, 165, 0, 0.8), rgba(255, 69, 0, 0));
            }
        }

        @keyframes fireTailHide {
            0% {
                opacity: 0.8;
            }

            100% {
                opacity: 0;
            }
        }

        .username {
            font-family: "Edu AU VIC WA NT Dots", cursive;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            min-width: 80vmin;
            text-align: center;
            background-color: transparent;
            min-height: 20vmin;

            margin-left: -39vmin;
            margin-bottom: -8vmin;
            vertical-align: middle;
            line-height: 20vmin;
             animation:  usernameZoom 2s ease-in-out forwards, usernameHide 3s ease-in-out forwards 3s;
              
    color: #f39c12; /* Warna teks */
      text-shadow: 
        3px 3px 5px rgba(0, 0, 0, 0.5),   /* Shadow utama (hitam dengan transparansi) */
        -3px -3px 5px rgba(255, 255, 255, 0.3); 
   /*animation: usernameGlow 7s ease-in-out infinite alternate, usernameZoom 2s ease-in-out forwards, usernameHide 3s ease-in-out forwards 3s;*/
        }

        @keyframes usernameGlow {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(252, 168, 51), 0 0 40px rgb(252, 168, 51), 0 0 50px rgb(252, 168, 51), 0 0 60px rgb(252, 168, 51), 0 0 70px rgb(252, 168, 51);
                transform: scale(0.5);
            }

            to {
                text-shadow: 0 0 20px #fff, 0 0 30px rgb(255, 217, 0), 0 0 40px rgb(255, 217, 0), 0 0 50px rgb(255, 217, 0), 0 0 60px rgb(255, 217, 0), 0 0 70px rgb(255, 217, 0), 0 0 80px rgb(255, 217, 0);
                transform: scale(1);
            }
        }

        @keyframes usernameZoom {
            from {
                transform: scale(0.01) rotate(0deg);
            }

            to {
                transform: scale(1) rotate(var(--username-rotate));
            }
        }

        @keyframes usernameHide {
            from {
                opacity: 1;
                transform: translateY(0vmin) rotate(var(--username-rotate));
            }

            to {
                opacity: 0;
                transform: translateY(3vmin) rotate(calc(var(--username-rotate) + 2deg));
            }
        }

        @keyframes rocketLaunch {
            0% {
                bottom: 0;
                transform: translateX(-50%);
            }

            100% {
                bottom: var(--rocket-offset-bottom);
                transform: translateX(calc(-60% + var(--rocket-offset)));
            }
        }

        @keyframes rocketExplode {
            0% {
                bottom: var(--rocket-offset-bottom);
                transform: translateX(calc(-60% + var(--rocket-offset))) scale(1);
            }

            100% {
                bottom: var(--rocket-offset-bottom);
                transform: translateX(calc(-60% + var(--rocket-offset))) scale(1.5);
            }
        }

        @keyframes rocketHide {
            0% {
                bottom: var(--rocket-offset-bottom);
                transform: translateX(calc(-60% + var(--rocket-offset))) scale(1.5);
                opacity: 1;
            }

            100% {
                bottom: var(--rocket-offset-bottom);
                transform: translateX(calc(-60% + var(--rocket-offset))) scale(1.5);
                opacity: 0;
            }
        }

        .explosion {
            position: absolute;
            width: 4vmin;
            height: 4vmin;
            background-size: cover;
            animation: explosionEffect 2.5s ease-out forwards;
        }

        @keyframes explosionEffect {
            0% {
                transform: scale(0.5);
                opacity: 1;
            }

            30% {
                transform: translate(calc(var(--x) * 10vmin), calc(var(--y) * 10vmin)) scale(1.5);
                opacity: 1;
            }

            60% {
                transform: translate(calc(var(--x) * 20vmin), calc(var(--y) * 20vmin)) scale(1.8);
                opacity: 0.8;
            }

            80% {
                transform: translate(calc(var(--x) * 25vmin), calc(var(--y) * 25vmin)) scale(2);
                opacity: 0.6;
            }

            100% {
                transform: translate(calc(var(--x) * 30vmin), calc(var(--y) * 30vmin)) scale(0.8);
                opacity: 0;
            }
        }



        