body {
    margin: 0;
    background: transparent;
    position: relative;
    height: 100vh;
}

.container {
    position: fixed; /* Agar elemen tetap berada di tempat saat scroll */
    width: var(--size); /* Ukuran lebar kontainer */
    height: var(--size); /* Ukuran tinggi kontainer */
    right: 90px;
    bottom: 0;
    animation: float var(--animation-duration) forwards linear;
    animation-delay: var(--animation-delay);
    pointer-events: none;
}

.container img {
    border-radius: 50%;
    width: 200%; /* Mengisi lebar kontainer */
    height: 80%; /* Mengisi tinggi kontainer */
    object-fit: cover;
}

.heart {
    fill: var(--color);
    width: var(--size); /* Gunakan variabel --size untuk lebar hati */
    height: var(--size); /* Gunakan variabel --size untuk tinggi hati */
}

@keyframes float {
    50% {
        opacity: 1;
    }
    to {
        transform: translate(var(--target-x), var(--target-y));
        opacity: 0;
    }
}

/* Media query untuk layar lebih kecil */
@media (max-width: 400px) {
    .container {
        max-width: 80%;
    }
    .heart {
        width: 55px !important;  /* Menyesuaikan ukuran hati untuk layar lebih kecil */
        height: 55px !important;
    }
}
